* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 #map {
    height: 590px;
    width: 100%;
}

.popup-image {
    max-width: 200px;
    height: auto;
}

/* Simple search bar (NO external CSS) */
#search-container {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#searchBar {
    padding: 7px 13px;
    width: 260px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

/* ===== HEADER ===== */
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background: #5bb663;
    border-bottom: 2px solid #b6ebb8;
    position: relative;
}

.logo {
    height: 95px;
    width: 95px;
    object-fit: contain;
    position: absolute;
    left: 20px;
}

.main-header h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

main {
    padding: 20px;
}