<<<<<<< HEAD
/* ===== GENERAL RESET ===== */
=======
>>>>>>> 7cc42d2700e142001826857527cca1fe2656f176
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

<<<<<<< HEAD
/* ===== HEADER STYLING ===== */
=======
>>>>>>> 7cc42d2700e142001826857527cca1fe2656f176
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background: #5bb663;
    border-bottom: 2px solid #b6ebb8;
    position: relative;
}

<<<<<<< HEAD
/* Logo stays on the left */
=======
>>>>>>> 7cc42d2700e142001826857527cca1fe2656f176
.logo {
    height: 95px;
    width: 95px;
    object-fit: contain;
    position: absolute;
    left: 20px;
}

<<<<<<< HEAD
/* Website Title */
=======
>>>>>>> 7cc42d2700e142001826857527cca1fe2656f176
.main-header h1 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

<<<<<<< HEAD
/* ===== MAIN CONTENT ===== */
=======
>>>>>>> 7cc42d2700e142001826857527cca1fe2656f176
main {
    padding: 20px;
}